[localhost]
localhost

[servers]
az1-atg-dcore-01
az1-atg-dcore-02
az1-atg-dcore-03
az1-atg-dcore-04
az1-atg-dcore-05
az1-atg-dcore-06
az1-atg-dcore-07

[dynamic]
{% for instance in nova_instances | sort %}
{{ instance }} ansible_ssh_host={{ nova_instances[instance]['ipv4_public'] }} ansible_ssh_user=debian
{% endfor %}
