localhost]
localhost

{% if nova_key_file is defined %}
{% set ssh_key='ansible_ssh_private_key_file=' + nova_key_file %}
{% else %}
{% set ssh_key ='' %}
{% endif %}
{% if ssh_user is defined %}
{% set ans_ssh_user='ansible_ssh_user=' + ssh_user %}
{% else %}
{% set ans_ssh_user='' %}
{% endif %}
[servers]
{% for instance in nova_instances | sort %}
{% if not instance.find(nova_name) %}
{{ instance }} {{ ssh_key }} ansible_ssh_host={{ nova_instances[instance]['ipv4_public'] }} ipv4_public={{ nova_instances[instance]['ipv4_public'] }} ipv4_private={{ nova_instances[instance]['ipv4_private'] }} {{ ans_ssh_user }}
{% endif %}
{% endfor %}
