Package: *
Pin: release a=stable
Pin-Priority: 900

Package: docker.io
Pin: release a=testing
Pin-Priority: 910

Package: systemd
Pin: release a=testing
Pin-Priority: 910

Package: btrfs-tools
Pin: release a=unstable
Pin-Priority: 920
