Package: *
Pin: release a=jessie
Pin-Priority: 900

Package: *
Pin: release a=jessie-updates
Pin-Priority: 910

Package: *
Pin: release a=testing
Pin-Priority: 900

Package: *
Pin: release a=testing-updates
Pin-Priority: 910
