#!/bin/bash

cd /srv/etcd-src/bin

./etcd \
    -peer-addr {{ ansible_eth0.ipv4.address }}:7001 \
    -addr {{ ansible_eth0.ipv4.address }}:4001 \
    -bind-addr 0.0.0.0 \
    -discovery {{ etcd.discovery }} \
    -peer-bind-addr 0.0.0.0 \
    -data-dir machines/{{ ansible_hostname }} \
    -name {{ ansible_hostname }}
