{% for instance in nova_instances | sort %}
Host {{ instance }}
Hostname {{ nova_instances[instance]['ipv4_public'] }}
{% if ssh_user is defined %}
  User {{ ssh_user }}
{% endif %}
{% if nova_key_file is defined %}
  IdentityFile {{ nova_key_file }}
{% endif %}
  IdentitiesOnly yes
{% endfor %}
