[Unit]
Description=Formats the ephemeral drive

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/wipefs -f /dev/vdc
ExecStart=/sbin/mkfs.btrfs -f /dev/vdc
