#!/bin/bash
# just get the info for the current installed packages

DATE=$(date +%s)
ARCHIVE="{{ install_snapshot.snapshot_dir }}"

if [ -d ${ARCHIVE} ] ; then
  cd ${ARCHIVE}
else
  echo "No ${ARCIVE} dir"
  exit 1
fi

dpkg  --get-selections > dpkg-get-selections.txt

dpkg-query -W -f '${status} ${package} ${version}\n' | \
  sed -n 's/^install ok installed //p' > dpkg-query.txt


if [ ! -d .git ] ; then
  if [ $(which git) ] ; then
    git init
    git add -A
    git commit -a -m "${DATE} Initial Snapshot"
  else
    echo "Missing git and you won't beable to check later"
    cp dpkg-get-selections.txt dpkg-get-selections-${DATE}.txt
    cp dpkg-query.txt dpkg-query-${DATE}.txt
    echo "Remember to read epoch is simple" > README
    echo " "
    echo "date -d @${DATE}"  >> README
    echo "$(date -d @${DATE})" >> README
    exit
  fi
else
  git add -A
  git commit -a -m "${DATE} changes" || echo "No package changes"
fi

